/*web*/

/*head*/
.xjumbotron{
	height: 100vh;
	display: flex;;
	align-items: center;
	justify-content: center;
}

/*artikel*/
#artikel > .container > .animate > .row > h2{
	margin: auto;
	border-bottom: #f39c12 solid 2px;
}

#artikel > .container > .animate > .row{
	margin-bottom: 5%;
}

.text1{
	text-align: right;
}

.text2{
	text-align: left;
}

.animate{
	transform-style: preserve-3d;
	transform: perspective(800px);
}

.animate h2, .animate p, .animate img{
	transition: all 0.8s ease;
}

.animate.hidden h2{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(-40deg);
}

.animate.hidden p{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(40deg);
}

.animate.hidden img{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(-40deg);
}

/*konsultasi*/
#konsultasi{
	background-color: #2c3e50;
	color: white;
	padding-top: 2%;
	padding-bottom: 3%;
}

#konsultasi > .container > .row > h2{
	margin: auto;
	border-bottom: #f39c12 solid 2px;
	margin-bottom: 2%;
	color: white;
}

.center{
	text-align: center;
}

#konsultasi a{
	text-decoration: none;
	color: white;
	transition: all .3s;
}

#konsultasi a:hover{
	color: #f39c12;
	transition: all .3s;
}

/*footer*/
#footer{
	color: black;
	text-align: center;
}

.text-footer{
	padding-top: 2%;
}