/*web*/

/*head*/
nav{
	transition: all 0.5s;
}

.navbar-brand{
	color: white !important;
	text-shadow: 0 2px black;
}

.nav-item{
	color: white !important;
	text-shadow: 0 2px black;
}

.navbar-nav > .active{
	border-bottom: #f39c12 solid 2px; 
}

.navbar-nav a:hover{
	border-bottom: #f39c12 solid 2px; 
}

nav.custom > .navbar-brand{
	color: black !important;
}

nav.custom {
	background: #2d3436;
	box-shadow: 0 0 5px;
	transition: all 0.5s;
}

.xjumbotron{
	height: 100vh;
	display: flex;;
	align-items: center;
	justify-content: center;
	background: url('../img/wallpainter.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.max-height{
	height: 100vh;
}

.kotak{
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.kotak2{
	text-align: center;
}

.kotak2 a{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}

.img1{
	width: 300px;
	height: 300px;
	background: url('../img/interior.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	box-shadow: 0 0 5px;
}

.img2{
	width: 300px;
	height: 300px;
	background: url('../img/eksterior.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 100%;
	box-shadow: 0 0 5px;
}

.jumbotron > .center > .display-4{
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        color: white;
}
.jumbotron > .center > .lead{
	-webkit-animation: tracking-in-expand-fwd 0.8s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s 0.3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        color: white;
}

.hr-yellow{
	margin: auto;
	border-bottom: #f39c12 solid 2px;
}

/*artikel*/
#artikel > .container > .animate > .row > h2{
	margin: auto;
	border-bottom: #f39c12 solid 2px;
}

#artikel > .container > .animate > .row{
	margin-bottom: 5%;
}

.text1{
	text-align: right;
}

.text2{
	text-align: left;
}

.animate{
	transform-style: preserve-3d;
	transform: perspective(800px);
}

.animate h2, .animate p, .animate img, .animate span, .animate h3, .animate a{
	transition: all 0.8s ease;
}

.animate.hidden h2{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(-40deg);
}

.animate.hidden p{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(40deg);
}

.animate.hidden img{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(-40deg);
}

.animate.hidden span{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(40deg);
}

.animate.hidden h3{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(40deg);
}

.animate.hidden a{
	opacity: 0;
	transform: translate3d(0,0,400px) rotateY(40deg);
}

.artikelJ{
	background: url('../img/wallpainter.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

/*konsultasi*/
#konsultasi{
	background-color: #2c3e50;
	color: white;
	padding-top: 2%;
	padding-bottom: 3%;
}

#konsultasi > .container > .row > h2{
	margin: auto;
	border-bottom: #f39c12 solid 2px;
	margin-bottom: 2%;
	color: white;
}

.center{
	text-align: center;
}

#konsultasi a{
	text-decoration: none;
	color: white;
	transition: all .3s;
}

#konsultasi a:hover{
	color: #f39c12;
	transition: all .3s;
}

/*footer*/
#footer{
	color: black;
	text-align: center;
}

.text-footer{
	padding-top: 2%;
}

.artikel-mobile{
	display: none;
}

.artikel-web{
	display: block;
}

/*tablet*/
@media (max-width: 768px) {
	/*global*/
	h2{
		font-size: 1.7em;
	}

	h3{
		font-size: 1.4em;
	}

	/*jumbotron*/
	.display-4{
		font-size: 2.3em;
	}

	.lead{
		font-size: 1em;
	}

	nav > .navbar-brand{
	color: black !important;
	}

	nav.navbar {
		background: #2d3436;
		box-shadow: 0 0 5px;
		transition: all 0.5s;
	}

	
}

@media (max-width: 576px) {
	h2{
		font-size: 1.3em;
	}

	h3{
		font-size: 1em;
	}

	.artikel-mobile{
		display: block;
	}

	.artikel-web{
		display: none;
	}
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}